name: infraValidate
on: [push]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Validate Bicep deployment
        run: |
          az deployment sub validate \
            --location swedencentral \
            --template-file src/infra/main.bicep \
            --parameters location=swedencentralteps:
